html,body {
    height: 100%;
}
body{
    display: flex;;
    justify-content: center;;
    align-items: center;
    flex-direction: column;
    gap:40px;
}


.container {
    height: 256px; /* Set a specific height for the container */
    width:256px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;

    border:1px solid black;
}

.box {
    border-width: 1px;
    border-color: black;
    border-style: solid; /* Add border style */
    width: 14px; /* Add width and height to see the boxes */
    height: 14px;
    margin:0;
    ; /* Add some margin for spacing */
}


.res-button{
    width:50px;
    height: 30px;

}

.colored{
    background-color: black;
}
.btn-container{
    display:flex;
    gap:50px;
}